{# Пользовательское меню #}

{# @var item \BaksDev\Products\Stocks\Repository\AllProductStocks\AllProductStocksResult #}


<button class="btn btn-link btn-sm p-0"
        id="usecase-{{ item.stockId }}"
        data-bs-container="body"
        data-bs-toggle="popover"
        data-bs-placement="right"
        data-bs-trigger="click"
>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
         fill="currentColor" class="text-muted"
         viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
</button>


{# Чекбокс #}
{# <label>
	<input class="form-check-input ms-3 p-2" type="checkbox"
#}{# onchange=checkedItem(); #}{#
value="{{ item.stock_id }}">
</label> #}


<div id="usecase-{{ item.stockId }}-content" class="d-none">
    <ul class="leader list-group list-group-flush ">

        {# Редактировать место складирвоания #}
        {% if is_granted(ROLE~'_STORAGE') or is_granted('ROLE_ADMIN') %}

            <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
                <a href="{{ path('products-stocks:admin.total.storage', {id: item.stockId }) }}"
                   class="text-decoration-none text-dark w-100 modal-link disabled"
                   data-bs-toggle="modal"
                   data-bs-target="#modal"
                   title="{{ 'btn.edit'|trans({}, 'core.btn') }}">
                    Изменить место складирования
                </a>
            </li>

        {% endif %}

        {# Редактировать #}
        {% if is_granted(ROLE~'_EDIT') or is_granted('ROLE_ADMIN') %}

            <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
                <a href="{{ path('products-stocks:admin.total.edit', {id: item.stockId }) }}"
                   class="text-decoration-none text-dark w-100 modal-link disabled"
                   data-bs-toggle="modal"
                   data-bs-target="#modal"
                   title="{{ 'btn.edit'|trans({}, 'core.btn') }}">
                    Редактировать остатки
                </a>
            </li>

        {% endif %}

        {# Списать #}
        {% if is_granted(ROLE~'_EDIT') and is_granted('ROLE_ORDERS_DECOMMISSION') or is_granted('ROLE_ADMIN') %}

            <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
                <a href="{{ path('orders-order:admin.decommission.new', {id: item.stockId }) }}"
                   class="text-decoration-none text-dark w-100 modal-link disabled"
                   data-bs-toggle="modal"
                   data-bs-target="#modal"
                   title="{{ 'btn.edit'|trans({}, 'core.btn') }}">
                    Списать остатки
                </a>
            </li>

        {% endif %}




    </ul>
</div>



