{# @var info \BaksDev\Products\Stocks\Repository\ProductStockInfo\ProductStockInfoResult #}
<div class="alert alert-warning m-3 d-flex justify-content-between gap-3 align-items-center" role="alert">

    <div>
        На складе <strong>{{ info.maxStockUsername }}</strong>
        имеется продукция <strong>
            {{ info.productName }}

            {# Значение множественного варианта ТП #}
            {{ info.productVariationValue|call_twig_func(info.productVariationReference~'_render')
            ~ info.productModificationValue|call_twig_func(info.productModificationReference~'_render') }}

            {# Значение торгового предложения #}
            {{ info.productOfferValue|call_twig_func(info.productOfferReference~'_render') }}

            {# Постфикс торгового предложения #}
            {{ info.productOfferPostfix }}
            {# Постфикс множественного варианта #}
            {{ info.productVariationPostfix }}
            {# Постфикс модификации #}
            {{ info.productModificationPostfix }}

        </strong>

        в количестве <strong>{{ info.maxStockTotal }}</strong>.<br>
        На складе
        <strong>{{ baks_profile.user_profile_username is defined ? baks_profile.user_profile_username }}</strong>


        {% if info.minStockTotal %}
            осталось <strong>{{ info.minStockTotal }}.</strong>
        {% else %}
            <strong class="text-danger"> нет в наличии.</strong>
        {% endif %}

        Рекомендуется сделать перемещение.
    </div>

    <button data-href="{{ path('products-stocks:admin.moving.new') }}" class="btn btn-sm moving btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#modal"
            data-pre-product="{{ info.productId }}"
            data-pre-offer="{{ info.productOfferConst }}"
            data-pre-variation="{{ info.productVariationConst }}"
            data-pre-modification="{{ info.productModificationConst }}"
            data-target-warehouse="{{ info.maxStockProfile }}"
            data-destination-warehouse="{{ app.user.profile }}"
            data-method="post"
            data-formname="moving_product_stock_form"
            data-post-class="add-one-to-collection">

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-arrow-left-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"></path>
        </svg>
    </button>

</div>