{% trans_default_domain 'admin.product.stock' %}

<div class="modal-dialog modal-dialog-centered " style="max-width: 800px;">
    {{ form_start(form) }}

    <div class="modal-content p-3 border-bottom border-5 border-{{ order ? 'warning' : 'primary' }}">

        <div class="modal-header">
            <h5 class="modal-title">
                {% if order %}
                    {{ 'Принять перемещение по заказу'|trans }}
                {% else %}

                    {{ 'Добавить приход на склад'|trans }}
                {% endif %}

            </h5>
        </div>

        <div class="modal-body">

            {% if recommender %}
                <div class="alert alert-light mb-3" role="alert">
                    Рекомендуемое место складировния « <strong>{{ recommender.storage }}</strong> »
                </div>
            {% else %}
                <div class="alert alert-warning mb-3" role="alert">
                    Место складирования указанной продукции не найдено
                </div>
            {% endif %}

            <div class="d-flex justify-content-between align-items-center gap-3 text-uppercase text-muted opacity-50">
                <div class="w-100">Продукция</div>
                <div class="w-25 text-center">Количество</div>
                {% if not order %} <div class="w-25 text-center">Место</div>{% endif %}
            </div>


            {% for product in form.product %}


                {% set detail = product.vars.data.detail %}

                {% if detail %}



                    <div class="d-flex justify-content-between align-items-center gap-3">

                        <div class="w-100 d-flex align-items-center gap-3">

                            {# Обложка #}
                            {% set image_path = '/assets/img/blank.svg' %}

                            {% if detail.product_image_ext is defined and detail.product_image_ext is not null %}
                                {% set img_host = detail.product_image_cdn  == true  ? CDN_HOST : '' %}
                                {% set img_dir = detail.product_image %}
                                {% set img_file = (img_host is empty ? '/image.' : '/small.') ~ detail.product_image_ext %}
                                {% set image_path = img_host ~ img_dir ~ img_file %}
                            {% endif %}

                            <div class="rounded-circle bg-contain lazy p-1" style="width: 50px; height: 50px;"
                                 data-bg="{{ image_path }}">
                            </div>

                            <div>

                                <strong>{{ detail.product_name }}</strong>

                                <div class="text-muted small">

                                    {% if detail.product_offer_value %}
                                        {{ detail.product_offer_name }}:
                                        <strong>{{ detail.product_offer_value|call_twig_func(detail.product_offer_reference) }}</strong>
                                    {% endif %}

                                    {% if detail.product_variation_value %}
                                        &nbsp;  {{ detail.product_variation_name }}:
                                        <strong>{{ detail.product_variation_value|call_twig_func(detail.product_variation_reference) }}</strong>
                                    {% endif %}

                                    {% if detail.product_modification_value %}
                                        &nbsp;  {{ detail.product_modification_name }}:
                                        <strong>{{ detail.product_modification_value|call_twig_func(detail.product_modification_reference) }}</strong>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="ms-3 fw-bolder w-25 text-center h5">
                            {{ form_widget(product.total, { attr: { placeholder : 'Количество'} }) }}
                        </div>

                        <div class="ms-3 fw-bolder w-25 text-center h5 {{ order ? 'd-none' }}">
                            {{ form_widget(product.storage, { attr: { placeholder : 'Место'} }) }}
                        </div>

                    </div>

                {% endif %}
            {% endfor %}


            <div class="mt-3">
                {{ form_widget(form.comment, { attr: { placeholder : 'Комментарий'} }) }}
            </div>
        </div>


        <div class="modal-footer ">

            <div class="flex-grow-1">
                &nbsp;
            </div>

            <div class="d-flex gap-3">
                {# Отмена #}
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                    {{ 'btn.cancel'|trans({}, 'core.btn') }}
                </button>


                {# Сохранить #}
                {{ form_widget(form.incoming, { label: '
                    <span>'~ 'btn.save'|trans({}, 'core.btn') ~'</span>
                    <span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
			    ',
                    attr: { class:  order ? 'btn-warning' : 'btn-primary' }
                }) }}
            </div>
        </div>


    </div>

    {{ form_end(form) }}
</div>
