{% trans_default_domain('admin.product.stock') %}

<div class="d-none d-print-block p-0" style="width: 850px">

    {% set print = 1 %}

    {% for item in query.data|filter(v => v.user_profile_id == app.user.profile) %}

        <div class="d-flex align-items-center w-100">

            <div data-qrcode="{{ item.id }}" class="w-25">
                {#<img src='{{ qrcode(item.id) }}' alt='QR Code' class="w-100"/>#}
            </div>

            <div class="ms-3">
                <div># {{ item.number }}</div>

                {# Название #}
                <strong class="fw-bolder text-muted">
                    {{ item.product_name }}

                    {# Значение множественного варианта ТП #}
                    {{ item.product_variation_value|call_twig_func(item.product_variation_reference~'_render')
                    ~ item.product_modification_value|call_twig_func(item.product_modification_reference~'_render') }}

                    {# Значение торгового предложения #}
                    {{ item.product_offer_value|call_twig_func(item.product_offer_reference~'_render') }}

                    {# Постфикс торгового предложения #}
                    {{ item.product_offer_postfix }}
                    {# Постфикс множественного варианта #}
                    {{ item.product_variation_postfix }}
                    {# Постфикс модификации #}
                    {{ item.product_modification_postfix }}

                </strong>

                {# Артикул #}
                <div class="text-muted ">
                    <small>Количество:</small> &nbsp; <strong>{{ item.total }}</strong>
                    {% if app.user.profile == item.user_profile_id %}

                        &nbsp;

                        ( <small>В наличии:</small> &nbsp; <strong>{{ item.stock_total }}</strong>

                        {% if item.stock_storage %}
                            &nbsp;
                            <small>Место:</small> &nbsp; <strong>{{ item.stock_storage }}</strong>
                        {% endif %})

                    {% endif %}
                </div>

                <div class="text-muted">
                    {% if app.user.profile == item.user_profile_id %}
                        <small>Склад назначения:</small>
                        &nbsp; <strong>{{ item.users_profile_destination }}</strong>
                    {% else %}
                        <small>Склад отгрузки:</small>
                        &nbsp; <strong>{{ item.users_profile_username }}</strong>
                    {% endif %}
                </div>

                {% if item.comment is not null %}
                    <div class="fw-bolder">
                        <small>Комментарий:</small> &nbsp; <strong>{{ item.comment }}</strong>
                    </div>
                {% endif %}

            </div>
        </div>



        {% if print is divisible by(5) %}
            {# Вставляем разрыв страницы #}
            <div style="page-break-after: always;"></div>
        {% else %}
            <hr>
        {% endif %}

        {% set print = print + 1 %}

    {% else %}
        <div class="alert alert-warning m-3 w-100" role="alert">
            Информация перемещении отсутствует
        </div>
    {% endfor %}

    {#{% endcache %}#}

</div>
