{% trans_default_domain('admin.product.stock') %}

<div class="d-none d-print-block p-0" style="width: 850px">


    {# <img width="15" src="./ПРИХОДНЫЙ КАССОВЫЙ ОРДЕР_files/cut.png"> #}

    {% for item in query.data %}




        <div class="d-flex w-100">

            <div class="ms-3">
                <div># {{ item.number }}</div>

                {# Название #}
                <strong class="fw-bolder text-muted">
                    {{ item.product_name }}

                    {# Значение множественного варианта ТП #}
                    {{ item.product_variation_value|call_twig_func(item.product_variation_reference~'_render')
                    ~ item.product_modification_value|call_twig_func(item.product_modification_reference~'_render') }}

                    {# Значение торгового предложения #}
                    {{ item.product_offer_value|call_twig_func(item.product_offer_reference~'_render') }}

                    {# Постфикс торгового предложения #}
                    {{ item.product_offer_postfix }}
                    {# Постфикс множественного варианта #}
                    {{ item.product_variation_postfix }}
                    {# Постфикс модификации #}
                    {{ item.product_modification_postfix }}

                </strong>

                {# Артикул #}
                <div class="text-muted ">
                    <small>Количество:</small> &nbsp; <strong>{{ item.total }}</strong>
                    {% if app.user.profile == item.user_profile_id %}

                        &nbsp;

                        ( <small>В наличии:</small> &nbsp; <strong>{{ item.stock_total }}</strong>

                        {% if item.stock_storage %}
                            &nbsp;
                            <small>Место:</small> &nbsp; <strong>{{ item.stock_storage }}</strong>
                        {% endif %})

                    {% endif %}
                </div>

                {% if item.comment is not null %}
                    <div class="fw-bolder">
                        <small>Комментарий:</small> &nbsp; <strong>{{ item.comment }}</strong>
                    </div>
                {% endif %}

            </div>
        </div>

        {% if loop.index is divisible by(11) %}
            {# Вставляем разрыв страницы #}
            <div style="page-break-after: always;"></div>
        {% else %}
            <hr>
        {% endif %}


    {% else %}
        <div class="alert alert-warning m-3" role="alert">
            Информация перемещении отсутствует
        </div>
    {% endfor %}


</div>
