{% trans_default_domain 'materials.stock' %}

<div class="modal-dialog modal-dialog-centered " style="max-width: 800px;">
    {{ form_start(form) }}

    <div class="modal-content p-3 border-bottom border-5 border-primary">

        <div class="modal-header">
            <h5 class="modal-title">
                {{ 'Укомплектовать заявку'|trans }} #{{ name }}
            </h5>
        </div>

        <div class="modal-body">


            <div class="modal-body">

                <div class="d-flex justify-content-between align-items-center gap-3 text-uppercase text-muted opacity-50">
                    <div class="w-100">Продукция</div>
                    <div class="w-25 text-center">Количество</div>
                    <div class="w-25 text-center">Место</div>
                </div>


                {% for product in products %}


                    <div class="d-flex justify-content-between align-items-center gap-3">

                        <div class="w-100 d-flex align-items-center gap-3">

                            {# Обложка #}
                            {% set image_path = '/assets/img/blank.svg' %}

                            {% if product.product_image_ext is defined and product.product_image_ext is not null %}
                                {% set img_host =  product.product_image_cdn == true  ? CDN_HOST : '' %}
                                {% set img_dir = product.product_image %}
                                {% set img_file = (img_host is empty ? '/image.' : '/small.') ~ product.product_image_ext %}
                                {% set image_path = img_host ~ img_dir ~ img_file %}
                            {% endif %}


                            <div class="rounded-circle bg-contain lazy p-1" style="width: 50px; height: 50px;"
                                 data-bg="{{ image_path }}">
                            </div>

                            <div>

                                <a class="text-decoration-none" href="{#{{ path('products-product:user.detail', {
                                    url : product.product_url ,
                                    offer: product.product_offer_value,
                                    variation: product.product_variation_value,
                                    modification: product.product_modification_value
                                }) }}#}" target="_detail">

                                    {{ product.product_name }}

                                    {# Значение множественного варианта ТП #}
                                    {{ product.product_variation_value|call_twig_func(product.product_variation_reference~'_render')
                                    ~ product.product_modification_value|call_twig_func(product.product_modification_reference~'_render') }}

                                    {# Значение торгового предложения #}
                                    {{ product.product_offer_value|call_twig_func(product.product_offer_reference~'_render') }}

                                    {# Постфикс торгового предложения #}
                                    {{ product.product_offer_postfix }}
                                    {# Постфикс множественного варианта #}
                                    {{ product.product_variation_postfix }}
                                    {# Постфикс модификации #}
                                    {{ product.product_modification_postfix }}

                                </a>

                                <div class="text-muted small">

                                    {% if product.product_offer_value %}
                                        {{ product.product_offer_name }} : <strong>{{ product.product_offer_value|call_twig_func(product.product_offer_reference) }}</strong>
                                    {% endif %}

                                    {% if product.product_variation_value %}
                                        , {{ product.product_variation_name }} : <strong>{{ product.product_variation_value|call_twig_func(product.product_variation_reference) }}</strong>
                                    {% endif %}

                                    {% if product.product_modification_value %}
                                        , {{ product.product_modification_name }}: <strong>{{ product.product_modification_value|call_twig_func(product.product_modification_reference) }}</strong>
                                    {% endif %}
                                </div>
                            </div>
                        </div>




                        <div class="ms-3 fw-bolder w-25 text-center h5">
                            {{ product.total }}
                        </div>

                        <div class="ms-3 fw-bolder w-25 text-center h5">
                            &nbsp;
                        </div>


                    </div>
                {% endfor %}


                <div class="mt-3">
                    {{ form_widget(form.comment, { attr: { placeholder : 'Комментарий'} }) }}
                </div>

        </div>



        <div class="modal-footer ">

            <div class="flex-grow-1">
                &nbsp;
            </div>

            <div class="d-flex gap-3">
                {# Отмена #}
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                    {{ 'btn.cancel'|trans({}, 'core.btn') }}
                </button>


                {# Сохранить #}
                {{ form_widget(form.extradition, { label: '
                    <span>'~ 'btn.save'|trans({}, 'core.btn') ~'</span>
                    <span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
			    '}) }}
            </div>
        </div>


    </div>

    {{ form_end(form) }}
</div>
