{% trans_default_domain 'admin.product.stock' %}

<tr>

	{#<td>
		#}{# Пользовательское меню #}{#
		{{ include(_self|replace({ "_table.tbody.html.twig": "_usecase.html.twig" })) }}
	</td>#}

	{# Чекбокс #}
	{#<td>
		<div class="form-check form-check-sm form-check-custom">
			<input class="form-check-input checked-item" type="checkbox" onchange=checkedItem();
				   value="{{ item.event }}"
				   name="#}{#{{ multi.multiple.vars.full_name }}#}{#[][event]"
			>

		</div>
	</td>#}

	<td class="ps-5 align-middle">
		<div class="d-flex">

			{# Обложка #}
			{% set image_path = '/assets/img/blank.svg' %}

			{% if item.product_image_ext is defined and item.product_image_ext is not null %}
				{% set img_host =  item.product_image_cdn == true  ? CDN_HOST : '' %}
				{% set img_dir = item.product_image %}
				{% set img_file = (img_host is empty ? '/image.' : '/small.') ~ item.product_image_ext %}
				{% set image_path = img_host ~ img_dir ~ img_file %}
			{% endif %}


			<div>
				<a href="#" class="icon rounded-3 mb-2 lazy bg-contain p-1"
			   data-bg="{{ image_path }}"
			   style="width: 75px; height: 75px;"
			></a>
			</div>


			<div class="ms-5">

				 {#Название#}
				<a href="{#{{ path('products-stocks:admin.detail', { id : item.id }) }}#}"
				   class="text-decoration-none mb-1 modal-link fw-bolder text-muted"
				   data-bs-toggle="modal"
				   data-bs-target="#modal"
				   title="Детали заявки">


					{{ item.product_name }}

					{# Значение торгового предложения #}
					{{ item.product_offer_value|call_twig_func(item.product_offer_reference) }}
					{# Постфикс торгового предложения #}
					{{ item.product_offer_postfix }}

					{# Значение множественного варианта ТП #}
					{{ item.product_variation_value|call_twig_func(item.product_variation_reference) }}
					{# Постфикс множественного варианта #}
					{{ item.product_variation_postfix }}

					{# Значение модификации множественного варианта ТП #}
					{{ item.product_modification_value|call_twig_func(item.product_modification_reference) }}
					{# Постфикс модификации #}
					{{ item.product_modification_postfix }}

					{# Свойства, учавствующие в названии #}
					{#{% for name_property in arr_property | filter(props => props.field_name == true) %}
						{{ name_property.props.field_value|call_twig_func(name_property.field_type) }}
					{% endfor %}#}


				</a>

				 {#Описание#}
				<div class="text-muted small">54654 dfgsd
					{{ string_width(item.product_description, 150)|raw }}
				</div>

				{# Артикул #}
				<div class="text-muted ">
					<strong>Артикул:</strong> {{ item.product_article }}
				</div>
			</div>

		</div>
	</td>

	{#<td class="ps-5 text-nowrap">

		{{ item.article_offer_name }}: {{ reference(item.article_reference, item.offer) }}<br>
		{{ item.variation_offer_name }}: {{ reference(item.variation_reference, item.variation) }}
	</td>#}

	<td class="ps-5">
		{{ item.category_name }}
	</td>

	<td class="ps-5 text-center fw-bolder vertical-middle">
		{{ item.total }}
	</td>

</tr>