{% trans_default_domain 'products-stocks.admin' %}


<div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
    <div class="modal-content p-3 border-bottom border-5 border-success">

        {{ form_start(form) }}

        <div class="modal-header">

            <h5 class="modal-title">
                Выдача заказов
            </h5>

            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal"
                 aria-label="Close">
                <span class="svg-icon svg-icon-2x"></span>
            </div>
        </div>

        <div class="modal-body d-flex gap-5">
            <div class="w-25 text-uppercase text-muted opacity-50">Номер заказа</div>
            <div class="w-75 text-uppercase text-muted opacity-50">Клиент</div>
        </div>


        {% for product_item in products %}

            {% set current = product_item|first %}

            {% if current %}

                <div class="modal-body py-0">

                    <div class="d-flex align-items-center gap-5">
                        <div class="w-25">
                            <div class="d-flex align-items-center gap-1 text-primary pointer copy small"
                                 data-copy="{{ current.number }}">

                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="14"
                                     height="14" fill="currentColor" viewBox="0 0 115.77 122.88">
                                    <path d="M89.62,13.96v7.73h12.19h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02v0.02 v73.27v0.01h-0.02c-0.01,3.84-1.57,7.33-4.1,9.86c-2.51,2.5-5.98,4.06-9.82,4.07v0.02h-0.02h-61.7H40.1v-0.02 c-3.84-0.01-7.34-1.57-9.86-4.1c-2.5-2.51-4.06-5.98-4.07-9.82h-0.02v-0.02V92.51H13.96h-0.01v-0.02c-3.84-0.01-7.34-1.57-9.86-4.1 c-2.5-2.51-4.06-5.98-4.07-9.82H0v-0.02V13.96v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07V0h0.02h61.7 h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02V13.96L89.62,13.96z M79.04,21.69v-7.73v-0.02h0.02 c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v64.59v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h12.19V35.65 v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07v-0.02h0.02H79.04L79.04,21.69z M105.18,108.92V35.65v-0.02 h0.02c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v73.27v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h61.7h0.02 v0.02c0.91,0,1.75-0.39,2.37-1.01c0.61-0.61,1-1.46,1-2.37h-0.02V108.92L105.18,108.92z"></path>
                                </svg>

                                #{{ current.number }}
                            </div>

                        </div>

                        {# Клиент #}
                        <div class="d-flex gap-2 w-75"> {{ user_profile(current.order_client) }}</div>

                    </div>

                    <hr>

                </div>
            {% endif %}


        {% endfor %}

        <div class="alert alert-warning" role="alert">
            Убедитесь, что выбраны именно те заказы, которые выданы клиенту, и нажмите «Выдано клиенту».
            Если Вы ошиблись в выборе, нажмите кнопку «Отмена».
        </div>

        {{ form_widget(form.collection) }}

        <div class="modal-footer">
            <div class="flex-grow-1">
                &nbsp;
            </div>
            <div class="d-flex gap-3">
                {{ form_widget(form.completed_selected_package, { label: '
                    <span>Выдано клиенту</span>
                    <span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
                ' } ) }}


                {# Отмена #}
                <button type="button" class="btn btn-light ms-2" data-bs-dismiss="modal">
                    {{ 'btn.cancel'|trans({}, 'core.btn') }}
                </button>
            </div>
        </div>


        {{ form_end(form) }}


    </div>

</div>