{# ПЕЧАТЬ #}


{% set current = query|first %}

<div class="d-flex w-100 justify-content-between align-items-center mb-2">
    <img src="/logo.webp" style="max-height: 60px;" alt="...">
    <div>
        <h5>Сборочный лист</h5>
        <div>{{ current.users_profile_username }}</div>
    </div>
</div>

{# {{ dd(current) }} #}

{#
<div class="mb-3 d-flex align-items-center gap-3">
     <span>{{ current.users_profile_username }}</span>
</div>
#}


<table class="table w-100 mb-2">
    <thead>
    <tr>
        <th scope="row" class="w-50"> Продукция
        <th scope="row" class="w-25 text-center"> Количество
        <th scope="row" class="w-25"> Место

    <tbody>


    {% for card in query %}

    <tr>
        <td scope="row">

            {{ card.product_name }}

            {{ card.product_variation_value|call_twig_func(card.product_variation_reference~'_render') ~
            card.product_modification_value|call_twig_func(card.product_modification_reference~'_render') }}

            {{ card.product_offer_value|call_twig_func(card.product_offer_reference~'_render') }}

            {# Постфикс торгового предложения #}
            {{ card.product_offer_postfix }}
            {# Постфикс множественного варианта #}
            {{ card.product_variation_postfix }}
            {# Постфикс модификации #}
            {{ card.product_modification_postfix }}


        <td scope="row" class="text-center"> {{ card.total }}
        <td scope="row">  {{ card.stock_storage|replace({ '[': '<small>(', ']' : ')</small>' })|raw }}


            {% endfor %}

</table>
