{# ПЕЧАТЬ #}
<div class="{{ app.request.headers.get('X-Requested-With') is not null ? 'd-none' }} d-print-block p-0 w-100">

    {% set break = false %}

    {% for part, data in query %}

        {# Название продукта data.name #}
        {# Название продукта data.offer #}
        {# Название продукта data.stock #}

        {% if loop.first == false %}
            <div style="page-break-after: always !important;"></div>
        {% endif %}

        {% for stickers in data %}

            {% if stickers.part is defined %}

                {# СТИКЕР МАРКИРОВКИ УПАКОВКИ #}

                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="280" height="280"
                         style="width: 280px; max-width: 280px; min-height: 280px;"
                         fill="currentColor"
                         viewBox="8 8 35 35">
                        {{ stickers.part|raw }}
                    </svg>
                </div>

                <div class="h5"><strong>{{ data.name }}</strong></div>
                <div class="h5"><strong>{{ data.offer }}</strong></div>
                <div>

                    <strong class="h3">{{ data.total }} шт.</strong>

                    &nbsp;<small>место:</small>
                    <strong>

                        {# Место хранения #}
                        [{% for stock in data.stock|filter(v => v.storage is not empty) %}

                        {{ stock.storage }}

                        {% if loop.last != true %}, {% endif %}

                        {% endfor %}]
                    </strong>
                </div>

                {# разрыв старницы #}
                {# <div style="page-break-after: always !important;"></div> #}

            {% else %}

                {% for number, sticker in stickers %}

                    {# СТИКЕР МАРКИРОВКИ ЧЕСТНЫЙ ЗНАК #}

                    {% if sticker.sign is defined %}

                        {% for  sign in sticker.sign %}

                            {# разрыв старницы #}
                            <div style="page-break-after: always !important;"></div>



                            <div class="text-center" style="max-width: 280px;">

                                <div>
                                    <small>{{ number }}</small>
                                </div>

                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="280" height="280"
                                         style="width: 280px; max-width: 280px;"
                                         fill="currentColor"
                                         viewBox="8 8 40 40">
                                        {{ sign.image|raw }}
                                    </svg>
                                    {{ sign.code|raw }}
                                </div>

                                <div>
                                    <small>{{ data.name }}</small>
                                </div>
                                <div>
                                    <small>{{ data.offer }}</small>
                                </div>
                            </div>

                        {% endfor %}


                    {% endif %}


                    {# СТИКЕР МАРКИРОВКИ OZON #}

                    {% if sticker.ozon is defined %}

                        {% for ozon in sticker.ozon %}

                            {# разрыв старницы #}
                            <div style="page-break-after: always !important;"></div>

                            {# <img nonce="{{ csp_nonce() }}" src="data:image/jpg;base64,{{ ozon }}" alt="sticker" #}
                            <img nonce="{{ csp_nonce() }}" src="data:image/png;base64,{{ ozon|raw }}" alt="sticker"
                                 style="width: 280px; max-width: 280px; min-height: 280px;"/>

                            {#
                            <img src="data:<?php echo htmlspecialchars($mime_type); ?>;base64,<?php echo base64_encode($image_data); ?>" alt="Изображение из BLOB">
                            #}

                        {% endfor %}

                    {% endif %}

                {% endfor %}


            {% endif %}


            {% set break = true %}

        {% endfor %}

    {% endfor %}

</div>
