{# ПЕЧАТЬ #}
<div class="{{ app.request.headers.get('X-Requested-With') is not null ? 'd-none' }} d-print-block p-0 w-100">

    {% set break = false %}

    {% for part, data in query %}

        {# Название продукта data.name #}
        {# Название продукта data.offer #}
        {# Название продукта data.stock #}



        {% for stickers in data %}

            {% if stickers.part is defined %}

                {# QR партии #}

                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150"
                         style="height: 150px; max-height: 150px; max-width: 150px;"
                         fill="currentColor"
                         viewBox="8 8 35 35">
                        {{ stickers.part|raw }}
                    </svg>
                </div>

                <div><strong>{{ data.name }}</strong></div>
                <div><strong>{{ data.offer }}</strong></div>
                <div>

                    <strong class="h5">{{ data.total }} шт.</strong>

                    &nbsp;<small>место:</small>
                    <strong>

                        {# Место хранения #}
                        [{% for stock in data.stock|filter(v => v.storage is not empty) %}

                        {{ stock.storage }}

                        {% if loop.last != true %}, {% endif %}

                        {% endfor %}]
                    </strong>
                </div>

                {# разрыв старницы #}
                <div style="page-break-after: always !important;"></div>

            {% else %}

                {% for number, sticker in stickers %}

                    {# Стикеры маркировки Честный знак #}

                    {% if sticker.sign is defined %}

                        {% for  sign in sticker.sign %}

                            <div class="text-center" style="max-width: 140px; max-height: 140px;">

                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="140" height="140"
                                         style="height: 140px; max-height: 140px; max-width: 200px;"
                                         fill="currentColor"
                                         viewBox="8 8 40 40">
                                        {{ sign|raw }}
                                    </svg>
                                </div>

                                <div>
                                    <small>{{ number }}</small>
                                </div>

                                <div>
                                    <small>{{ data.name }}</small>
                                </div>
                                <div>
                                    <small>{{ data.offer }}</small>
                                </div>
                            </div>

                            {# разрыв старницы #}
                            <div style="page-break-after: always !important;"></div>

                        {% endfor %}


                    {% endif %}


                    {% if sticker.ozon is defined %}

                        {% for ozon in sticker.ozon %}
                            <img src="data:image/png;base64, {{ ozon }}" alt="sticker"
                                 style="max-width:300px; min-width: 300px;"/>
                        {% endfor %}

                        {# разрыв старницы #}
                        <div style="page-break-after: always !important;"></div>

                    {% endif %}


                {% endfor %}


            {% endif %}


            {% set break = true %}

        {% endfor %}

    {% endfor %}

</div>
