{% trans_default_domain 'products-stocks.admin' %}


<main class="main d-print-none">

    <section class="container px-4 mb-5">


        <div class="border border-light rounded-4 p-3">


            {% if query.data %}

                <table class="table table-striped table-borderless"
                       style='--bs-table-striped-bg: rgba(249,249,249,0.7);'>

                    <tbody>

                    {% set name = null %}
                    {% set storage_count = 0 %}
                    {% set product_exist = 0 %}
                    {% set product_reserve = 0 %}
                    {% set product_group = 0 %}

                    {% set total = 0 %}
                    {% set total_reserve = 0 %}


                    {% for item in query.data %}

                        {% set total = total + item.stock_total %}
                        {% set total_reserve = total_reserve + item.stock_reserve %}



                        {% if product_group != item.product_article %}

                            {# Общие остатки указанной продукции #}
                            {% if storage_count > 1 %}
                                {{ include(_self|replace({ "content.html.twig": "_totals.html.twig" })) }}
                            {% endif %}

                            {% set storage_count = 0 %}
                            {% set product_exist = 0 %}
                            {% set product_reserve = 0 %}
                            {% set product_group = item.product_article %}

                            {# Модель #}
                            {% if name != item.product_name %}

                                {% if name is not null %}
                                    <tr>
                                        <td class="p-0" style="background-color: unset; box-shadow: unset;">&nbsp;</td>
                                    </tr>
                                {% endif %}

                                {% set name = item.product_name %}
                                <tr>
                                    <th colspan="8" class="p-0">
                                        <span class="badge text-bg-primary">
                                            {{ item.product_name }}
                                        </span>
                                    </th>
                                </tr>

                            {% endif %}

                            {{ include(_self|replace({ "content.html.twig": "card.html.twig" })) }}

                            <tr class="">
                                <th class="small py-0">#</th>
                                <th class="text-muted small py-0">Склад</th>
                                <th class="w-100 py-0">&nbsp;</th>

                                <th class="text-center text-muted small py-0">Наличие</th>
                                <th class="text-center small text-muted py-0">Место</th>

                                <th class="text-center text-muted small py-0">Резерв</th>
                                <th class="text-center w-100 text-muted small py-0">Доступно</th>
                            </tr>



                        {% endif %}

                        {% set storage_count = storage_count + 1 %}
                        {% set product_exist = product_exist + item.stock_total %}
                        {% set product_reserve = product_reserve + item.stock_reserve %}

                        {{ include(_self|replace({ "content.html.twig": "storage.html.twig" })) }}



                    {% endfor %}



                    {# Общие остатки указанной продукции #}
                    {% if storage_count > 1 %}
                        {{ include(_self|replace({ "content.html.twig": "_totals.html.twig" })) }}
                    {% endif %}
                    </tbody>

                    <thead>

                    <tr class="">
                        <th class="small py-0" colspan="3">&nbsp;</th>
                        <th class="text-center text-muted small py-0">Наличие</th>
                        <th class="text-center small text-muted py-0">&nbsp;</th>

                        <th class="text-center text-muted small py-0">Резерв</th>
                        <th class="text-center w-100 text-muted small py-0">Доступно</th>
                    </tr>
                    <tr class="">
                        <th colspan="3">&nbsp;</th>
                        <th class="text-center text-muted small py-0">
                            <h6>
                                    <span class="badge text-bg-primary">
                                        {{ total }}
                                    </span>
                            </h6>
                        </th>
                        <th class="text-center text-muted small py-0">&nbsp;</th>
                        <th class="text-center text-muted small py-0">
                            {% if total_reserve %}
                                <h6>
                                        <span class="badge text-bg-danger">
                                            {{ total_reserve }}
                                        </span>
                                </h6>
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </th>
                        <th class="text-center w-100 text-muted small py-0">
                            <h6>
                                    <span class="badge text-bg-success">
                                        {{ total - total_reserve }}
                                    </span>
                            </h6>
                        </th>
                    </tr>
                    </thead>

                </table>

            {% else %}
                <div class="alert alert-warning m-3" role="alert">
                    Информация о складских остатках отсутствует
                </div>
            {% endif %}

        </div>

    </section>

</main>